.contact-list-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: rgba(var(--primary-text-color-theme-dark), 1);
}

.contact-info-date {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: rgba(var(--primary-text-color-theme-dark), 1);
}