.social-links {
  display: flex;
  align-items: center;

  &::before {
    flex-shrink: 0;
    content: '';
    width: 60px;
    height: 1px;
    margin-right: 40px;
    background-color: var(--secondary-text-color-theme-light);
  }
}

.social-links-item:not(:last-child) {
  margin-right: 40px;
}

.social-links-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-text-color-theme-light);

  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
